* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f0f2f5;
}

.conteiner-list {
  display: none;
}

header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  background-color: #094855;
  box-shadow: 5px 5px 5px #545454;
  padding: 10px;
}

header img {
width: 70px;
height: 70px;
}

header h1 {
  color: white;
  font-weight: 500;
  margin: auto 20px auto 20px; 
  font-size: 30px;
}

.form-login {
  color: #3e465d;
  margin-left: 20px; 
}

.form-login input {
  font-size: 18px;
  background-color: #f0f2f5;
  cursor: pointer;
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
  border-style: none;
  box-shadow: 2px 2px 2px gray;
}

.form-login button, .conteiner-list button {
  font-size: 18px;
  font-weight: 600;
  color: #545454;
  background-color: #f0f2f5;
  cursor: pointer;
  width: 150px;
  padding: 12px;
  margin: 5px;
  border-radius: 5px;
  border-style: none;
  box-shadow: 2px 2px 2px #545454;
}

.form-login button:hover, .conteiner-list button:hover {
  background-color: #03989E;
  color: white;
  transform: scale(1.1);
  transition: 0.5s; 
}

.conteiner-list {
  display: flex;
  justify-content:center;
  align-items: center;
  width: 90%;
  padding: 20px;
  margin: 20px auto 30px auto;
  background-color: white;
  border-style: none;
  border-radius: 5px;
}

.conteiner-list h1, .conteiner-list div {
  color:#545454;
  text-align: center;
  margin-bottom: 15px;
}

.conteiner-list input {
  font-size: 18px;
  background-color: #f0f2f5;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border-style: none;
  box-shadow: 2px 2px 2px gray;
}

.items {
  list-style-type: none;
  text-align: left;
   padding: 15px;
   color: #545454;
   background-color: #f0f2f5;
}

.item-list {
  background-color: white;
  cursor: pointer;
  padding: 10px;
  margin: 8px;
  border-radius: 3px;
}

.item-list:hover {
  font-weight: 600;
  transition: 0.5s;
}

.alert-true span {
  text-decoration: underline #03989E 3.5px;
}

.append-list {
  color: #f0f2f5;
  background-color: #545454;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.append-list:hover {
  background-color: #03989E;
  transition: 0.5s;
}
